In [37]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv('2020년 1월_2월.csv')

df['카테고리'].replace('가구판매점','슈퍼/마트', inplace=True)
df['카테고리'].replace('가발','미용/뷰티/위생', inplace=True)
df['카테고리'].replace('가방.핸드백','의류/잡화/안경', inplace=True)
df['카테고리'].replace('가전/통신','가전/통신', inplace=True)
df['카테고리'].replace('가전제품','가전/통신', inplace=True)
df['카테고리'].replace('건강보조식품','스포츠/헬스', inplace=True)
df['카테고리'].replace('골프연습장','스포츠/헬스', inplace=True)
df['카테고리'].replace('교복','의류/잡화/안경', inplace=True)
df['카테고리'].replace('교육 및 교구','학원/교육', inplace=True)
df['카테고리'].replace('구두.신발','의류/잡화/안경', inplace=True)
df['카테고리'].replace('기계.장비(기타)','기타', inplace=True)
df['카테고리'].replace('기술.직업훈련학원','학원/교육', inplace=True)
df['카테고리'].replace('기타','기타', inplace=True)
df['카테고리'].replace('기타 가정.주방용품','의류/잡화/안경', inplace=True)
df['카테고리'].replace('기타 건축자재','의류/잡화/안경', inplace=True)
df['카테고리'].replace('기타 교육.교습.학원','학원/교육', inplace=True)
df['카테고리'].replace('기타 대인서비스','기타', inplace=True)
df['카테고리'].replace('기타 레저,스포츠용품','스포츠/헬스', inplace=True)
df['카테고리'].replace('기타 상품 판매점','슈퍼/마트', inplace=True)
df['카테고리'].replace('기타 서비스','기타', inplace=True)
df['카테고리'].replace('기타 수리.수선전문','전통시장/상점가', inplace=True)
df['카테고리'].replace('기타 숙박업소','숙박/캠핑', inplace=True)
df['카테고리'].replace('기타 식음료품','전통시장/상점가', inplace=True)
df['카테고리'].replace('기타 약품.의료기기','병원/약국', inplace=True)
df['카테고리'].replace('기타 연료판매','자동차/자전거', inplace=True)
df['카테고리'].replace('기타 오락.휴식시설','도서/문화/공연', inplace=True)
df['카테고리'].replace('기타 음식점','일반음식점', inplace=True)
df['카테고리'].replace('기타 의료업','병원/약국', inplace=True)
df['카테고리'].replace('기타 잡화','의류/잡화/안경', inplace=True)
df['카테고리'].replace('기타 장비임대','전통시장/상점가', inplace=True)
df['카테고리'].replace('기타 전문서비스','기타', inplace=True)
df['카테고리'].replace('기타 종합소매점','슈퍼/마트', inplace=True)
df['카테고리'].replace('기타 취미.레저.스포츠','스포츠/헬스', inplace=True)
df['카테고리'].replace('내과','병원/약국', inplace=True)
df['카테고리'].replace('내의류','의류/잡화/안경', inplace=True)
df['카테고리'].replace('노래방','전통시장/상점가', inplace=True)
df['카테고리'].replace('농산물,청과물','전통시장/상점가', inplace=True)
df['카테고리'].replace('농수축협직판장','슈퍼/마트', inplace=True)
df['카테고리'].replace('농협식품전문점','슈퍼/마트', inplace=True)
df['카테고리'].replace('당구장','스포츠/헬스', inplace=True)
df['카테고리'].replace('도서/문화/공연','도서/문화/공연', inplace=True)
df['카테고리'].replace('동물병원','병원/약국', inplace=True)
df['카테고리'].replace('레저','레저', inplace=True)
df['카테고리'].replace('레저용 숙박업소','레저', inplace=True)
df['카테고리'].replace('무술도장','스포츠/헬스', inplace=True)
df['카테고리'].replace('문구,사무용품','의류/잡화/안경', inplace=True)
df['카테고리'].replace('미용/뷰티/위생','미용/뷰티/위생', inplace=True)
df['카테고리'].replace('미용실(두발전문)','미용/뷰티/위생', inplace=True)
df['카테고리'].replace('미용재료','미용/뷰티/위생', inplace=True)
df['카테고리'].replace('민예품,공예품','의류/잡화/안경', inplace=True)
df['카테고리'].replace('병원/약국','병원/약국', inplace=True)
df['카테고리'].replace('보일러,펌프,샷시','부동산/인테리어', inplace=True)
df['카테고리'].replace('부동산 중개','부동산/인테리어', inplace=True)
df['카테고리'].replace('부동산/인테리어','부동산/인테리어', inplace=True)
df['카테고리'].replace('분식','분식', inplace=True)
df['카테고리'].replace('뷔페.출장연회','일반음식점', inplace=True)
df['카테고리'].replace('비료.사료.종자','전통시장/상점가', inplace=True)
df['카테고리'].replace('사우나.목욕탕.찜질방','미용/뷰티/위생', inplace=True)
df['카테고리'].replace('사진관. 현상소','전통시장/상점가', inplace=True)
df['카테고리'].replace('산모/육아','병원/약국', inplace=True)
df['카테고리'].replace('산부인과','병원/약국', inplace=True)
df['카테고리'].replace('산후조리원','병원/약국', inplace=True)
df['카테고리'].replace('서양식전문점','일반음식점', inplace=True)
df['카테고리'].replace('서적','도서/문화/공연', inplace=True)
df['카테고리'].replace('성형외과','병원/약국', inplace=True)
df['카테고리'].replace('세차장','자동차/자전거', inplace=True)
df['카테고리'].replace('세탁업','의류/잡화/안경', inplace=True)
df['카테고리'].replace('소비조합(구내매점)','슈퍼/마트', inplace=True)
df['카테고리'].replace('소아과','병원/약국', inplace=True)
df['카테고리'].replace('수산물,건어물','전통시장/상점가', inplace=True)
df['카테고리'].replace('숙박/캠핑','숙박/캠핑', inplace=True)
df['카테고리'].replace('슈퍼/마트','슈퍼/마트', inplace=True)
df['카테고리'].replace('슈퍼마켓.마트','슈퍼/마트', inplace=True)
df['카테고리'].replace('스포츠/헬스','스포츠/헬스', inplace=True)
df['카테고리'].replace('시계. 귀금속','전통시장/상점가', inplace=True)
df['카테고리'].replace('시장/거리','전통시장/상점가', inplace=True)
df['카테고리'].replace('식음료(기타)','일반음식점', inplace=True)
df['카테고리'].replace('신경정신과','병원/약국', inplace=True)
df['카테고리'].replace('실내장식 (인테리어)','부동산/인테리어', inplace=True)
df['카테고리'].replace('아동.유아복','의류/잡화/안경', inplace=True)
df['카테고리'].replace('아이스크림전문점','일반음식점', inplace=True)
df['카테고리'].replace('악기 판매점','전통시장/상점가', inplace=True)
df['카테고리'].replace('안경.광학제품','의류/잡화/안경', inplace=True)
df['카테고리'].replace('안과','병원/약국', inplace=True)
df['카테고리'].replace('애완동물,용품','전통시장/상점가', inplace=True)
df['카테고리'].replace('약국','병원/약국', inplace=True)
df['카테고리'].replace('여행사','레저', inplace=True)
df['카테고리'].replace('영화.공연장','도서/문화/공연', inplace=True)
df['카테고리'].replace('예식장','전통시장/상점가', inplace=True)
df['카테고리'].replace('예체능 계열 학원','학원/교육', inplace=True)
df['카테고리'].replace('오토바이','자동차/자전거', inplace=True)
df['카테고리'].replace('완구','전통시장/상점가', inplace=True)
df['카테고리'].replace('외과','병원/약국', inplace=True)
df['카테고리'].replace('외국어학원','학원/교육', inplace=True)
df['카테고리'].replace('요양.보육.복지시설','병원/약국', inplace=True)
df['카테고리'].replace('요양병원','병원/약국', inplace=True)
df['카테고리'].replace('의류/잡화/안경','의류/잡화/안경', inplace=True)
df['카테고리'].replace('의류관련(기타)','의류/잡화/안경', inplace=True)
df['카테고리'].replace('의약품판매','병원/약국', inplace=True)
df['카테고리'].replace('이발소','미용/뷰티/위생', inplace=True)
df['카테고리'].replace('이비인후과','병원/약국', inplace=True)
df['카테고리'].replace('인삼 전문점','전통시장/상점가', inplace=True)
df['카테고리'].replace('일반병원','병원/약국', inplace=True)
df['카테고리'].replace('일반음식점','일반음식점', inplace=True)
df['카테고리'].replace('일반의류','의류/잡화/안경', inplace=True)
df['카테고리'].replace('일식전문점','일반음식점', inplace=True)
df['카테고리'].replace('입시학원,보습학원','학원/교육', inplace=True)
df['카테고리'].replace('자동차/자전거','자동차/자전거', inplace=True)
df['카테고리'].replace('자동차운전학원','자동차/자전거', inplace=True)
df['카테고리'].replace('자동차정비','자동차/자전거', inplace=True)
df['카테고리'].replace('자전거','자동차/자전거', inplace=True)
df['카테고리'].replace('전문 스포츠용품점','스포츠/헬스', inplace=True)
df['카테고리'].replace('전통시장/상점가','전통시장/상점가', inplace=True)
df['카테고리'].replace('정수기.비데','전통시장/상점가', inplace=True)
df['카테고리'].replace('정형외과','병원/약국', inplace=True)
df['카테고리'].replace('제과.제빵','일반음식점', inplace=True)
df['카테고리'].replace('조명기구. 전기','전통시장/상점가', inplace=True)
df['카테고리'].replace('종합 스포츠용품점','전통시장/상점가', inplace=True)
df['카테고리'].replace('주차장.폐차장','자동차/자전거', inplace=True)
df['카테고리'].replace('중고품 판매점','전통시장/상점가', inplace=True)
df['카테고리'].replace('중식전문점','일반음식점', inplace=True)
df['카테고리'].replace('차량부품.용품','자동차/자전거', inplace=True)
df['카테고리'].replace('철재,사무용 가구','전통시장/상점가', inplace=True)
df['카테고리'].replace('축산물,정육점','전통시장/상점가', inplace=True)
df['카테고리'].replace('치과','병원/약국', inplace=True)
df['카테고리'].replace('치킨전문점','일반음식점', inplace=True)
df['카테고리'].replace('침구 및 수예품','전통시장/상점가', inplace=True)
df['카테고리'].replace('카페/베이커리','일반음식점', inplace=True)
df['카테고리'].replace('커튼.카펫.수건','전통시장/상점가', inplace=True)
df['카테고리'].replace('커피전문점','일반음식점', inplace=True)
df['카테고리'].replace('컴퓨터 및 소프트웨어','가전/통신', inplace=True)
df['카테고리'].replace('타이어 판매점','자동차/자전거', inplace=True)
df['카테고리'].replace('택배 서비스','전통시장/상점가', inplace=True)
df['카테고리'].replace('테마파크(놀이시설)','도서/문화/공연', inplace=True)
df['카테고리'].replace('통신기기','가전/통신', inplace=True)
df['카테고리'].replace('판촉물.인쇄.복사','전통시장/상점가', inplace=True)
df['카테고리'].replace('패스트푸드점','일반음식점', inplace=True)
df['카테고리'].replace('편의점','슈퍼/마트', inplace=True)
df['카테고리'].replace('피부.체형미 관리','미용/뷰티/위생', inplace=True)
df['카테고리'].replace('피부과','병원/약국', inplace=True)
df['카테고리'].replace('학원/교육','학원/교육', inplace=True)
df['카테고리'].replace('한국인삼공사','전통시장/상점가', inplace=True)
df['카테고리'].replace('한방병원','병원/약국', inplace=True)
df['카테고리'].replace('한약방','병원/약국', inplace=True)
df['카테고리'].replace('한의원','병원/약국', inplace=True)
df['카테고리'].replace('헬스클럽','스포츠/헬스', inplace=True)
df['카테고리'].replace('호텔 (특급외)','숙박/캠핑', inplace=True)
df['카테고리'].replace('화방.표구점','전통시장/상점가', inplace=True)
df['카테고리'].replace('화원.화초','전통시장/상점가', inplace=True)
df['카테고리'].replace('화장품','미용/뷰티/위생', inplace=True)

df

,가맹점ID,가맹점명,가맹점주(가입자),고객명,고객 생년월일,나이,고객 성별,승인번호,승인시간,승인일자,거래금액,카테고리
0,MB0100025937,지XXX,여OO,김OO,1977,44,M,4666008,184905,20200104,95000,미용/뷰티/위생
1,MB0100026285,공XXX,박OO,남OO,1963,58,F,4621386,124115,20200102,2500,분식
2,MB0100026285,공XXX,박OO,송OO,1986,35,F,4623016,134644,20200102,7000,분식
3,MB0100026285,공XXX,박OO,김OO,1982,39,M,4620574,121408,20200102,8000,분식
4,MB0100026285,공XXX,박OO,조OO,1980,41,M,4655931,115700,20200104,17000,분식
...,...,...,...,...,...,...,...,...,...,...,...,...
172215,MB0100017097,참XXX,유OO,박OO,1964,57,F,9554670,160128,20200221,32000,일반음식점
172216,MB0100017097,참XXX,유OO,박OO,1964,57,F,10489249,142158,20200225,10000,일반음식점
172217,MB0100017097,참XXX,유OO,박OO,1964,57,F,10489435,142246,20200225,10000,일반음식점
172218,MB0100017097,참XXX,유OO,박OO,1964,57,F,10788886,184133,20200226,5000,일반음식점
172219,MB0100017097,참XXX,유OO,박OO,1964,57,F,10958959,150324,20200227,11500,일반음식점

In [39]:
#주제1 : 카테고리별 거래금액

In [61]:
price = df.filter(items=('카테고리', '거래금액'))
price

            카테고리   거래금액
0       미용/뷰티/위생  95000
1             분식   2500
2             분식   7000
3             분식   8000
4             분식  17000
...          ...    ...
172215     일반음식점  32000
172216     일반음식점  10000
172217     일반음식점  10000
172218     일반음식점   5000
172219     일반음식점  11500

[172220 rows x 2 columns]

In [62]:
price2 = price.groupby('카테고리').sum()
price2

                거래금액
카테고리
가전/통신        3408800
기타         608670169
도서/문화/공연    36783480
레저           4014299
미용/뷰티/위생   142028735
병원/약국      438149473
부동산/인테리어   209387260
분식          11636310
숙박/캠핑        3908960
슈퍼/마트      751292427
스포츠/헬스     141185590
의류/잡화/안경    97781905
일반음식점     1441786929
자동차/자전거     40403131
전통시장/상점가   596778118
학원/교육      776985573

In [42]:
#주제2 : 카테고리별 남녀 사용 비율 : sex

In [64]:
result2 = df.groupby(['카테고리','고객 성별']).count()
result2

                가맹점ID   가맹점명  가맹점주(가입자)    고객명  고객 생년월일     나이   승인번호   승인시간  \
카테고리     고객 성별
가전/통신    F         15     15         15     15       15     15     15     15
         M         35     35         35     35       35     35     35     35
기타       F       5159   5159       5159   5159     5159   5159   5159   5159
         M       2269   2269       2269   2269     2269   2269   2269   2269
도서/문화/공연 F        599    599        599    599      599    599    599    599
         M        879    879        879    879      879    879    879    879
레저       F         15     15         15     15       15     15     15     15
         M         54     54         54     54       54     54     54     54
미용/뷰티/위생 F       2134   2134       2134   2134     2134   2134   2134   2134
         M       1833   1833       1833   1833     1833   1833   1833   1833
병원/약국    F       9172   9172       9172   9172     9172   9172   9172   9172
         M       6157   6157       6157   6157     6157   6157   6157   6157
부동산/인테리어 F        239    239        239    239      239    239    239    239
         M        212    212        212    212      212    212    212    212
분식       F        807    807        807    807      807    807    807    807
         M        406    406        406    406      406    406    406    406
숙박/캠핑    F         15     15         15     15       15     15     15     15
         M         35     35         35     35       35     35     35     35
슈퍼/마트    F      26907  26907      26907  26907    26907  26907  26907  26907
         M      25065  25065      25065  25065    25065  25065  25065  25065
스포츠/헬스   F        800    800        800    800      800    800    800    800
         M       1010   1010       1010   1010     1010   1010   1010   1010
의류/잡화/안경 F       1521   1521       1521   1521     1521   1521   1521   1521
         M       1212   1212       1212   1212     1212   1212   1212   1212
일반음식점    F      37926  37926      37926  37926    37926  37926  37926  37926
         M      31206  31206      31206  31206    31206  31206  31206  31206
자동차/자전거  F        198    198        198    198      198    198    198    198
         M        423    423        423    423      423    423    423    423
전통시장/상점가 F       7918   7918       7918   7918     7918   7918   7918   7918
         M       4941   4941       4941   4941     4941   4941   4941   4941
학원/교육    F       2048   2048       2048   2048     2048   2048   2048   2048
         M       1010   1010       1010   1010     1010   1010   1010   1010

                 승인일자   거래금액
카테고리     고객 성별
가전/통신    F         15     15
         M         35     35
기타       F       5159   5159
         M       2269   2269
도서/문화/공연 F        599    599
         M        879    879
레저       F         15     15
         M         54     54
미용/뷰티/위생 F       2134   2134
         M       1833   1833
병원/약국    F       9172   9172
         M       6157   6157
부동산/인테리어 F        239    239
         M        212    212
분식       F        807    807
         M        406    406
숙박/캠핑    F         15     15
         M         35     35
슈퍼/마트    F      26907  26907
         M      25065  25065
스포츠/헬스   F        800    800
         M       1010   1010
의류/잡화/안경 F       1521   1521
         M       1212   1212
일반음식점    F      37926  37926
         M      31206  31206
자동차/자전거  F        198    198
         M        423    423
전통시장/상점가 F       7918   7918
         M       4941   4941
학원/교육    F       2048   2048
         M       1010   1010

In [44]:
#주제 : 카테고리별 연령대 사용 빈도수 및 거래금액

In [46]:
bins = [0,10,20,30,40,50,60,70,80,90]

In [47]:
bins_names = ["0세", "10대", "20대", "30대", "40대", "50대", "60대", "70대", "80대"]

In [65]:
age_categories = pd.cut(df['나이'], bins, labels = bins_names)
age_categories

0         40대
1         50대
2         30대
3         30대
4         40대
         ...
172215    50대
172216    50대
172217    50대
172218    50대
172219    50대
Name: 나이, Length: 172220, dtype: category
Categories (9, object): ['0세' < '10대' < '20대' < '30대' ... '50대' < '60대' < '70대' < '80대']

In [66]:
age_categories=pd.DataFrame(age_categories)

In [67]:
df['age_categories']=age_categories

In [68]:
df.head()

,가맹점ID,가맹점명,가맹점주(가입자),고객명,고객 생년월일,나이,고객 성별,승인번호,승인시간,승인일자,거래금액,카테고리,age_categories
0,MB0100025937,지XXX,여OO,김OO,1977,44,M,4666008,184905,20200104,95000,미용/뷰티/위생,40대
1,MB0100026285,공XXX,박OO,남OO,1963,58,F,4621386,124115,20200102,2500,분식,50대
2,MB0100026285,공XXX,박OO,송OO,1986,35,F,4623016,134644,20200102,7000,분식,30대
3,MB0100026285,공XXX,박OO,김OO,1982,39,M,4620574,121408,20200102,8000,분식,30대
4,MB0100026285,공XXX,박OO,조OO,1980,41,M,4655931,115700,20200104,17000,분식,40대

In [69]:
#카테고리별 연령대 사용 빈도수
result3 = df.groupby(['카테고리','age_categories']).count()
result3

                      가맹점ID  가맹점명  가맹점주(가입자)   고객명  고객 생년월일    나이  고객 성별  \
카테고리  age_categories
가전/통신 20대                 2     2          2     2        2     2      2
      30대                15    15         15    15       15    15     15
      40대                17    17         17    17       17    17     17
      50대                13    13         13    13       13    13     13
      60대                 3     3          3     3        3     3      3
...                     ...   ...        ...   ...      ...   ...    ...
학원/교육 30대               665   665        665   665      665   665    665
      40대              2100  2100       2100  2100     2100  2100   2100
      50대               227   227        227   227      227   227    227
      60대                 8     8          8     8        8     8      8
      70대                 8     8          8     8        8     8      8

                      승인번호  승인시간  승인일자  거래금액
카테고리  age_categories
가전/통신 20대                2     2     2     2
      30대               15    15    15    15
      40대               17    17    17    17
      50대               13    13    13    13
      60대                3     3     3     3
...                    ...   ...   ...   ...
학원/교육 30대              665   665   665   665
      40대             2100  2100  2100  2100
      50대              227   227   227   227
      60대                8     8     8     8
      70대                8     8     8     8

[104 rows x 11 columns]

In [70]:
#카테고리별 연령대 거래금액
age_price = df.filter(items=('카테고리', 'age_categories', '거래금액'))
age_price

            카테고리 age_categories   거래금액
0       미용/뷰티/위생            40대  95000
1             분식            50대   2500
2             분식            30대   7000
3             분식            30대   8000
4             분식            40대  17000
...          ...            ...    ...
172215     일반음식점            50대  32000
172216     일반음식점            50대  10000
172217     일반음식점            50대  10000
172218     일반음식점            50대   5000
172219     일반음식점            50대  11500

[172220 rows x 3 columns]

In [71]:
table = pd.pivot_table(age_price, index=['카테고리'], columns='age_categories', values='거래금액') 
table

age_categories,10대,20대,30대,40대,50대,60대,70대,80대
카테고리,,,,,,,,
가전/통신,NaN,60500.000000,70620.000000,73917.647059,58569.230769,70166.666667,NaN,NaN
기타,64220.000000,125851.072600,107332.523576,61996.153139,77775.579521,86071.123188,73750.000000,NaN
도서/문화/공연,3418.181818,7883.359580,25620.902062,36406.445672,20837.832168,100660.000000,23150.000000,NaN
레저,NaN,53999.000000,29370.588235,82241.935484,45575.000000,NaN,NaN,NaN
미용/뷰티/위생,71967.857143,35798.916667,43324.717172,33194.369423,32235.460829,30722.048193,82250.000000,NaN
병원/약국,186852.631579,40989.034749,24246.251740,29494.605109,28946.150720,29537.692308,27112.142857,37200.0
부동산/인테리어,427142.857143,460891.666667,491560.219780,462410.784314,389270.588235,481450.000000,600000.000000,NaN
분식,4300.000000,8547.142857,8784.282116,10762.419929,8270.000000,7500.000000,NaN,NaN
숙박/캠핑,NaN,26111.111111,135833.333333,38688.888889,63608.571429,72166.666667,2500.000000,NaN
슈퍼/마트,14406.560510,8976.735437,12835.546357,15013.287803,16556.217735,16557.973944,15915.107296,NaN
스포츠/헬스,36973.333333,132690.000000,132709.503106,76621.671159,41911.426025,65554.062500,272500.000000,NaN
의류/잡화/안경,45755.555556,37547.317073,30770.170370,30702.540193,47885.020576,59160.714286,47016.666667,NaN
일반음식점,18195.504132,16983.030769,19453.127598,21037.397285,23101.529213,29942.885714,29164.666667,NaN
자동차/자전거,NaN,49118.800000,63216.518325,74628.910714,55526.585366,70490.606061,NaN,NaN
전통시장/상점가,116639.636364,87857.781971,49809.431385,40729.496611,44628.069124,47473.899371,57021.794872,NaN
학원/교육,280185.185185,198630.434783,217622.360902,263443.001429,275964.317181,356000.000000,176375.000000,NaN

In [72]:
table = pd.pivot_table(age_price, index=['카테고리'], columns='age_categories', values='거래금액', aggfunc=np.sum, fill_value=0, margins=True, margins_name='Total') 
table

age_categories,10대,20대,30대,40대,50대,60대,70대,80대,Total
카테고리,,,,,,,,,
가전/통신,0,121000,1059300,1256600,761400,210500,0,0,3408800
기타,2247700,53738408,218529018,202417440,107096973,23755630,885000,0,608670169
도서/문화/공연,37600,3003560,9940910,19768700,2979810,1006600,46300,0,36783480
레저,0,53999,499300,2549500,911500,0,0,0,4014299
미용/뷰티/위생,1007550,8591740,42891470,55799735,27980380,5099860,658000,0,142028735
병원/약국,7100400,31848480,125401614,166261089,78357230,25727330,3416130,37200,438149473
부동산/인테리어,2990000,27653500,89463960,47165900,26470400,14443500,1200000,0,209387260
분식,25800,897450,3487360,6048480,1124720,52500,0,0,11636310
숙박/캠핑,0,235000,2445000,348200,445260,433000,2500,0,3908960
슈퍼/마트,2261830,29587320,173331218,325563146,179982643,36858050,3708220,0,751292427
스포츠/헬스,221840,10482510,42732460,56853280,23512310,6293190,1090000,0,141185590
의류/잡화/안경,823600,6157760,20769865,38193960,23272120,8282500,282100,0,97781905
일반음식점,4403312,94935142,388459505,610547344,286666876,52400050,4374700,0,1441786929
자동차/자전거,0,2455940,12074355,16716876,6829770,2326190,0,0,40403131
전통시장/상점가,3849108,41908162,151719528,204299155,145264365,45290100,4447700,0,596778118
학원/교육,7565000,4568500,144718870,553230303,62643900,2848000,1411000,0,776985573
Total,32533740,316238471,1427523733,2307019708,974299657,225027000,21521650,37200,5304201159